@import 'simplelightbox/dist/simple-lightbox.min.css';
@import 'izitoast/dist/css/iziToast.min.css';

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 32px;
  gap: 20px;
}

.search-input {
  border: 1px solid #808080;
  box-sizing: border-box;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px 16px;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0;
}

.gallery-card {
  box-sizing: border-box;
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
}

.gallery-img {
  width: 100%;
  height: 152px;
  object-fit: cover;

  margin-bottom: 4px;
}

.gallery-data-img {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.img-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.api-data {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader.is-hidden {
  display: none;
}

.loader {
  width: calc(100px - 14px);
  height: 50px;

  animation: flippx 1s infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
}
.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff3d00;
  transform-origin: -14px 50%;
  animation: spin 0.5s infinite linear;
}
@keyframes flippx {
  0%,
  49% {
    transform: scaleX(1);
  }
  50%,
  100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
